h1{text-align: center;
    margin: 1%;
    }
    /*Reset CSS*/
    *{
        margin: 0px;
        padding: 0px;
        
        font-family: Avenir, sans-serif;
        }
        .bloc{
            height: 100vh;
            width: 100%;
            }
            
            .bloc video{
                position:absolute;
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                top: 13.3%;
                left: 0%;
                   
            }
    .nav-1{
        width: 100%;
        margin: 0px auto 40px auto;
        background-color:#fe7000;
        position: sticky;
        top: 0px;
        
    }
    
    nav ul{
        list-style-type: none;
    }
    
    nav li{
        float: left;
        width: 25%;/*100% divisé par le nombre d'éléments de menu*/
        text-align: center;/*Centre le texte dans les éléments de menu*/
    }
    
    /*Evite que le menu n'ait une hauteur nulle*/
    nav ul::after{
        content: "";
        display: table;
        clear: both;
    }
    
    nav a{
        display: block; /*Toute la surface sera cliquable*/
        text-decoration: none;
        color: black;
        border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
        padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
    }
    
    nav a:hover{
        color: yellow;
        border-bottom: 5px solid yellow;
        width: 100%;
    }
    
    .conteneur{
      margin: 0px 20px;
      height: 200px;
    }
    
    *{
        margin: 0;
    }
    @import url(https://fonts.googleapis.com/css?family=Raleway|Reenie+Beanie);
    
    * {
      box-sizing: border-box;
      
    }
    .valider {
      border: 1px solid #fe7000;
      background: transparent;
      border-radius: 50px;
      padding: 13px 30px;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .valider:hover {
      background: #fe7000;
    }
    
    html,
    body {
      line-height: 1.5;
      min-height: 100vh;
    }
    
    img {
      width: 100%;
      
    }
    
    a {
      color: black;
    }
    
    .caption,
    h2,
    .date {
      margin: 0;
      text-align: center;
    }
    
    .caption,
    h2 {
      font-family: "Reenie Beanie", sans-serif;
      font-size: 2em;
      padding: 10px 10px 0 10px;
    }
    
    .date {
      font-size: 0.75em;
    }
    
    .description {
      font-size: 0.9em;
      padding: 0 20px 20px 20px;
      text-align: left;
    }
    
    .container {
      perspective: 1000px;
      display: inline-block;
      margin: 6%;
    }
    
    .container:hover .flipper {
      transform: rotateY(180deg);
    }
    
    .container,
    .front,
    .back {
      width: 250px;
      height: 250px;
    }
    
    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
    }
    
    .front,
    .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 250px;
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .front {
      z-index: 2;
    }
    
    .back {
      transform: rotateY(180deg);
    }
    
    #content {
      text-align: center;
    }
    
    
    h3{
      font-size: 30px;
      text-align: center;
      text-shadow: -1px -1px 0 #2d2d2d, 1px -1px 0 #2d2d2d, -1px 1px 0 #2d2d2d, 1px 1px 0 #2d2d2d;
    }
    .flotte {
    float: left;
    margin-left: 5%;
    border: 1px solid #fe7000;
    margin-bottom: 15%;
    }
    
    .P2{
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    
    }
    
    .P1{
      text-align: center;
    }
    .sec-2 {
      text-align: center;
      padding: 60px 0;
    }
    .form-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100px;
      grid-template-areas: 
      "input1 input2"
      "textarea textarea";
      gap: 10px;
      width: 85%;
      margin: 30px auto;
      max-width: 600px;
    }
    .textarea {
      grid-area: textarea;
    }
    label {
      font-weight: 600;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
    input[type="text"],
    textarea {
      width: 100%;
      margin: 20px 0 40px;
      border-radius: 4px;
      border: 1px solid #ccc;
      padding: 10px;
      transition: 0.2s;
    }
    
    input[type="text"]:focus,
    textarea:focus {
    outline: 2px solid #fe7000;
    }
    textarea {
      resize: none;
      height: 180px;
    }
    
    footer {
      background: #fe7000;
      padding: 2%;
    }
    footer ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 33%;
      min-width: 300px;
      margin: 0 auto;
    }
    footer a {
      background-color: whitesmoke;
      border: 1px solid #ccc;
      border-radius: 50px;
      width: 44px;
      height: 44px;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .main-footer .social-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: rgb(157, 237, 131);
    }
    
    h4{
    font-size: 25px;
    text-align: center;
    padding-bottom: 3%;
    
    }
    
    a{
      font-size: 15px;
    }
    .footer-main-menu {
      position: relative;
      margin: 0;
      padding-bottom: 5%;
      background-color: rgb(222, 222, 222);
      }
      .logoProfil {
        height: 40px;
        width: 20px;
      }
    .test {
        height: 40px;
        width: 20px;
    }