* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    list-style: none;
  }
  
  body {
    background-color: rgb(242, 240, 240);
    margin: 0 auto;
    text-align: center;
  }
  html,
  body {
    line-height: 1.5;
    min-height: 100vh;
  }
  /*-------------------------------------------- Titre------------------------------------------------------------*/
  h1 {
    text-align: center;
    margin: 1%;
    padding: 10px 10px 10px 10px;
  
  }
  /*-------------------------------------------- Fin------------------------------------------------------------*/
  /*-------------------------------------------- navbar------------------------------------------------------------*/
  
  .navbar {
    min-width: 100vw;
    background-color: #fe7000;
  height: 80px;
  
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    list-style-type: none;
    padding: 0 100px;
  
  
  }
  .navbar li {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
  
  
  }
  
  /* nav li:first-child {
  color: white;
  } */
  
  .navbar li:hover:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: black;
    transform: translateY(-15px);
  }
  
  .logoProfil {
    height: 40px;
    width: 40px;
  }
  a {
    text-decoration: none;
    color: black;
  
  }
  .nav-img {
  
    width: 50px;
  }
  
  /*--------------------------------------------Fin------------------------------------------------------------*/
  /*--------------------------------------------Un------------------------------------------------------------*/
.un {
padding: 50px 0px 50px 0px;
    background-color: rgb(226, 224, 224);
}
/*--------------------------------------------Fin------------------------------------------------------------*/
 /*--------------------------------------------Deux------------------------------------------------------------*/
.deux {
    padding: 50px 0px 50px 0px;
}
/*--------------------------------------------Fin------------------------------------------------------------*/
 /*--------------------------------------------Trois------------------------------------------------------------*/
.trois {
    padding: 50px 0px 50px 0px;
    background: rgb(226, 224, 224);
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------Commun------------------------------------------------------------*/
.box {

    margin-left: 10%;
    height: 400px;
    width: 400px;
    background: rgba(191, 191, 191,0.5);
    border-radius: 20px;
}
.separation {
background-color: #fe7000;
    height: 15px;
}
h2 {
padding: 10px;
}
h3 {
    padding: 10px;
    font-size: 1.5rem;
}
.margin {
    margin-top: 20px;
}

.logoverif{
    height: 20px;
    width: 20px; 
}

.ligne {
    display: flex;
}
.paragraphe-un {
    padding: 100px;
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------MediaQuery------------------------------------------------------------*/
@media (max-width: 993px) { 

  .ligne {
flex-direction: column;
  }
  .box {
    margin: 0;
  }

}
@media (max-width: 700px) { 

  .box {

width: 300px;
  }
  .paragraphe-un {
    padding: 2cqb;
  }
}
/*--------------------------------------------Fin------------------------------------------------------------*/