
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    list-style: none;
  }
  
  body {
    background-color: rgb(242, 240, 240);
    margin: 0 auto;
    text-align: center;
  }
  html,
  body {
    line-height: 1.5;
    min-height: 100vh;
  }

  /*-------------------------------------------- navbar------------------------------------------------------------*/
  
  .navbar {
    min-width: 100vw;
    background-color: #fe7000;
  height: 80px;
  
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    list-style-type: none;
    padding: 0 100px;
  
  
  }
  .navbar li {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
  
  
  }
  
  /* nav li:first-child {
  color: white;
  } */
  
  .navbar li:hover:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: black;
    transform: translateY(-15px);
  }
  
  .logoProfil {
    height: 40px;
    width: 40px;
  }
  a {
    text-decoration: none;
    color: black;
  
  }
  .nav-img {
  
    width: 50px;
  }
    /*-------------------------------------------- Titre------------------------------------------------------------*/
    h1 {
      text-align: center;
      margin: 1%;
      padding: 10px 10px 10px 10px;
    
    }
    /*-------------------------------------------- Fin--------------------------------------------------------------*/
/*-------------------------------------------- Header------------------------------------------------------------*/
  header {
    background-image: url(/img/sportpoids.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
  }
  .paragraphe-un {
    text-align: left;
padding: 20px 150px 0px 50px;
color: white;
  } 
  
  .margin {
    margin-left: 50px;
  }
  /*-------------------------------------------- Fin--------------------------------------------------------------*/

  .paragraphe-deux {
    text-align: left;
    padding: 20px 150px 0px 0px;
    color: black;
  }
  .background-brown {
    background: #413434;
  }
  .taille-img-1 {
    height: 250px;
    width: 300px;

  }
  .taille-img-2 {
    height: 250px;
    width: 300px;

  }
  .taille-img-3 {
    height: 250px;
    width: 300px;

  }
  .center {
    align-items: center;
    display: flex;
    text-align: left;
  }
  .ajustement {
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .titre-un {
    text-align: left;
    padding-left: 50px ;
  }
  .titre-deux {
    text-align: left;
  }
    /*--------------------------------------------MediaQuery------------------------------------------------------------*/
  @media (max-width: 880px) { 

    .center {
      flex-direction: column;
      justify-content: center;
      padding: 50px;
    }
    .margin {
      padding-bottom: 30px;
    }
    .h {
      padding-top: 200px;
    }

    .ajustement {
  flex-direction: column;
  justify-content: center;
  
    }
    .titre-un {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0px;
      margin: 0px;
    }
    .paragraphe-un{
justify-content: center;

      padding:0px;
    }
    .titre-deux {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 50px 0px;
      margin: 0px;
    }
    .paragraphe-deux {
      display: flex;
      justify-content: center;
      padding: 0px 0px 50px 0px;
    }  
  }
  @media (max-width: 1200px) { 

    .logoProfil {
  
  background-color: white;
    }
  }